@layer base;

@import 'reset.css' layer(base);
@import 'theme.css';

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-body);
    font-size: var(--text-base);
    line-height: var(--leading-normal);
    color: var(--color-white);
    background: var(--color-black-900);
    min-height: 100vh;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-container {
    padding-left: 48px;
    padding-right: 48px;
    max-width: var(--content-container-desktop);
    margin: 0px auto;
    width: 100%;
}
